* {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 12px;
	list-style: none;
	text-decoration: none;
}
body {
	margin: 0 auto;
	background: rgba(6, 62, 172, 0.580392);
	background-size: cover;
	overflow: hidden;
}
#topop {
	font-size: 24px;
	margin-left: 5px;
	padding: 20px 30px;
	border-radius: 10px;
	border: #CCC 2px solid;
	top: 23vh;
	right: 20px;
}
#topop:hover {
	background: rgba(0,153,102,0.5);
	z-index: 99;
	transition: all .8s linear;
	color: #FFF;
}
.top {
	background: url(../img/wave.jpg) repeat-x 0px 90%;
	background-size: cover;
	height: 20vh;
	width: 100vw;
	opacity: 0.5;
	position: relative;
}
.top ul li {
	font-size: 24px;
	float: left;
	margin-left: 5px;
	padding: 20px 30px;
	border-radius: 10px;
	border: #FFF 2px solid;
}
.top ul li:nth-child(1) {
	position: absolute;
	top: -140px;
	left: -220px;
	color: #FFF;
	transition: all .8s linear;
}
.top ul li:nth-child(2) {
	position: absolute;
	top: -140px;
	left: 560px;
	transition: all .8s linear;
}
.top ul li a {
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}
.top ul {
	width: 100vw;
}
.top ul li.lo {
	position: absolute;
	top: 0px;
	left: 220px;
	color: #FFF;
	transition: all .8s linear;
}
.top ul li:hover {
	background: rgba(0,0,255,0.7);
	cursor: pointer;
}
.top ul {
	position: absolute;
	left: 30%;
	top: 5px;
}
.nav {
	position: relative;
	top: -60px;
}
.nav ul {
	width: 100%;
	text-align: center;
	height: 60px;
	border-bottom: #000 2px solid;
}
.nav ul li {
	display: block;
	float: left;
	margin-left: 5px;
	font-size: 16px;
	color: #63C;
	background: #000;
	padding: 20px 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-weight: bold;
	position: relative;
	width: 60px;
}
.nav ul li:hover {
	background: rgba(255,255,255,0.5);
	color: #000;
	transition: all .8s linear;
}
.nav ul li:first-child {
	margin-left: 40%;
}
.nav ul li ul {
	position: absolute;
	left: -48px;
	top: 55px;
	border: none;
	display: block;
	margin: 0px;
	padding: 0px;
	display: none;
	z-index: 9;
}
.nav ul li ul li {
	border: none;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	border-radius: 0px;
	padding: 20px 0px;
	position: relative;
}
.nav ul li:hover ul.navtwo {
	display: block;
}
.nav ul li ul li ul {
	position: absolute;
	display: block;
	top: 10px;
	left: 120px;
	display: none;
}
.nav ul li ul li:hover ul.tr {
	display: block;
}
#control, .box {
	width: 90%;
	margin: 0px auto;
	height: 50px;
	position: relative;
}
#control div {
	text-align: center;
	background: rgba(0,153,255,0.5);
	font-size: 12px;
	display: none;
	width: 600px;
	border-radius: 10px;
	padding: 10px 0px;
	margin: 5px auto;
	position: relative;
	z-index: 9;
}
#control div:target {
	display: block;
}
.login {
	top: 20%;
	border-radius: 10px;
	padding: 20px 20px;
	margin: 0 auto;
	position: fixed;
	left: -20%;
	background: rgba(153,153,153,0.7);
	overflow: hidden;
	width: 0px;
	transition: all linear 1s;
	z-index: 2;
}
.login form input {
	margin: 0 auto;
	display: block;
	width: 500px;
	height: 50px;
	border-radius: 19px;
	outline: none;
	border: solid #00F 1px;
	margin-top: 10px;
}
.box {
	width: 100vw;
	margin: 0 auto;
}
.leftbox {
	width: 49%;
	height: 400px;
	background-size: cover;
	position: relative;
	opacity: 0.8;
	float: left;
}
.leftbox .img {
	width: 100%;
	height: 400px;
	background: url(../img/001.jpg) no-repeat 50% 50%;
	background-size: cover;
	transition: all .9s ease-in-out;
}
.leftbox:hover .left_ic, .leftbox:hover .right_ic {
	display: block;
}
.left_ic, .right_ic {
	font-size: 42px;
	color: #FFF;
	background: rgba(0,0,0,0.7);
	width: 25px;
	position: absolute;
	top: 50%;
	cursor: pointer;
	display: none;
	padding: 5px 10px;
}
.left_ic {
	left: 0px;
}
.right_ic {
	right: 0px;
}
.left_ic:hover {
	background: #000;
}
.right_ic:hover {
	background: #000;
}
.rightbox {
	width: 100vw;
	height: 100vw;
	background-color: rgba(0,102,204,0.8);
	transform: rotate(340deg);
	transform-style: preserve-3d;
	border-radius: 80%;
	border: dotted #CCFF99 10px;
	position: absolute;
	left: 50%;
	top: -20%;
}
.rightbox:hover {
	position: relative;
	z-index: 11;
	: ranimationole linear infinite 10s;
	transition: all .9s linear;
}
 @keyframes role {
 0.23% {
transform:rotate(340deg);
}
 40.15% {
transform:rotate(240deg);
}
 100% {
transform:rotate(0deg);
}
}
.rol {
	position: absolute;
	bottom: 0px;
	right: 0%;
	font-size: 36px;
	color: #69F;
	z-index: -1;
}
.search {
	padding: 20px 30px;
	border: #FFF 2px solid;
	width: 200px;
	border-radius: 20px;
	position: absolute;
	height: 10px;
	right: 0px;
	opacity: 0.5;
	margin-top: 5px;
}
.search:hover {
	opacity: 1;
	transition: all linear .8s;
}
.search input {
	border: #639 2px solid;
	outline: none;
	border-radius: 9px;
}
.search input.text {
	width: 140px;
	height: 30px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -12px;
	left: -20px;
}
.search input.bt {
	width: 50px;
	height: 30px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -12px;
	right: -10px;
}
.video {
	position: absolute;
	top: 20px;
	left: 10px;
	display: none;
}
